@model LineParametersWS

    <link href="~/css/DivMain.css" rel="stylesheet" />

<div class="fixed">
    <vc:line-result select-line="@LineDescription.LineWS1CNH" _line-parameters="Model" tryb12h="false"/>
</div>
